/* DEFAULTS 
 *
 * Usage $variable
 *
 */

/* Text defaults */
$fontFamily: 'Trebuchet MS';
$fontSize: 0.875em;
$fontColor: #222222;
$altFontColor: #aaaaaa;
$lineHeight: 1.25em;
$textShadow: 0 0 2px #000000;

/* Content Link defaults */
$linkColor: #0062a0;
$linkHoverColor: #ff9900;
$linkFocusColor: #000000;

/* Header Links Defaults */
$linkColorHeader:#326f47;
$linkHoverColorHeader:#ff9900;
$linkFocusColorHeader:#000000;

/* User Links Defaults */
$linkColorUser:#0062a0;
$linkHoverColorUser:#ff9900;
$linkFocusColorUser:#000000;

/* Course Links Defaults */
$linkColorCourse:#af6700;
$linkHoverColorCourse:#000000;
$linkFocusColorCourse:#000000;

/* Box defaults */
$boxBorderRadius:2px;
$boxBorder:1px solid #c4c4c0;
$boxShadow:0 0 4px rgba(0,0,0,0.2);
$boxPadding:6px;

/* Form defaults */
$fieldBorder:1px solid #000000;
$fieldBackgroundColor:#ffffff;
$fieldPadding:5px 10px;
$fieldFocusShadow:0 0 5px rgba(0,153,255,1);

$buttonBackgroundColor:#000000;
$buttonHoverBackgroundColor:#0099ff;
$buttonFontColor:#ffffff;
$buttonBorder:1px solid #000000;
$buttonBorderHover:1px solid #0099ff;

/* H1 - H2 DEFAULTS */
$headerPadding:4px 10px 4px 15px;
$headerBackground:url('../gfx/title-background.jpg');
$headerBorder:2px solid #000;

/* Transitions for FIELDS */
$fieldFocusAnimation: all 300ms linear;

/* Transitions for CAROUSEL */
$carouselHoverTransitionProperty:border,background,box-shadow;
$carouselHoverTransitionDuration:800ms,500ms,100ms;
$carouselHoverTransitionFunction:ease-in;

/* Transitions for TOOLTIPS */
$tooltipRTLTransitionProperties: margin-left,opacity,visibility;
$tooltipRTLTransitionDurations: 250ms,200ms,1ms;
$tooltipRTLTransitionFunction:linear;

/* MIXINS 
 *
 * Usage with default value: @include mixin_name;
 * Usage with overridden value: @include mixin_name($argument: value);
 *
 */
 
@mixin carousel-hover-transition($property: $carouselHoverTransitionProperty, $duration: $carouselHoverTransitionDuration, $function: $carouselHoverTransitionFunction) {
  /* Animation */
  transition-property:$property;
  transition-duration:$duration;
  transition-timing-function:$function;
  /* Firefox 4 */
  -moz-transition-property:$property;
  -moz-transition-duration:$duration;
  -moz-transition-timing-function:$function;
  /* Safari and Chrome */
  -webkit-transition-property:$property;
  -webkit-transition-duration:$duration;
  -webkit-transition-timing-function:$function;
  /* Opera */
  -o-transition-property:$property;
  -o-transition-duration:$duration;
  -o-transition-timing-function:$function;
  /* IE */
  -ms-transition-property:$property;
  -ms-transition-duration:$duration;
  -ms-transition-timing-function:$function;
} 
 
@mixin field-focus-animation() {
  transition:$fieldFocusAnimation;
  -moz-transition:$fieldFocusAnimation;
  -webkit-transition:$fieldFocusAnimation;
  -o-transition:$fieldFocusAnimation;
  -ms-transition: $fieldFocusAnimation;
}

@mixin tooltip-rtl-animation($property: $tooltipRTLTransitionProperties, $duration: $tooltipRTLTransitionDurations, $function: $tooltipRTLTransitionFunction) {
  /* Animation */
  transition-property:$property;
  transition-duration:$duration;
  transition-timing-function:$function;
  /* Firefox 4 */
  -moz-transition-property:$property;
  -moz-transition-duration:$duration;
  -moz-transition-timing-function:$function;
  /* Safari and Chrome */
  -webkit-transition-property:$property;
  -webkit-transition-duration:$duration;
  -webkit-transition-timing-function:$function;
  /* Opera */
  -o-transition-property:$property;
  -o-transition-duration:$duration;
  -o-transition-timing-function:$function;
  /* IE */
  -ms-transition-property:$property;
  -ms-transition-duration:$duration;
  -ms-transition-timing-function:$function;
}

@mixin h1h2-defaults($padding: $headerPadding, $background: $headerBackground, $border: $headerBorder) {
  padding:$padding;
  background:$background;
  border-top:$border;
  border-bottom:$border;
  border-right:$border;
  border-left:0;
}

@mixin h1h2-defaults-rtl($padding: $headerPadding, $background: $headerBackground, $border: $headerBorder) {
  padding:$padding;
  background:$background;
  border-top:$border;
  border-bottom:$border;
  border-left:$border;
  border-right:0;
}

@mixin text-shadow($shadow: $textShadow) {
  text-shadow:$shadow;
}

@mixin rounded-borders($radius: $boxBorderRadius) {
  border-radius:$radius;
}

@mixin box-shadow($shadow: $boxShadow) {
  box-shadow:$shadow;
}

@mixin box-padding($padding: $boxPadding) {
  padding:$padding;
}

@mixin form-field-padding($fieldPadding: $fieldPadding) {
  padding:$fieldPadding;
}
@mixin header-link-defaults($padding: 2px 4px, $decoration: none) {
  padding:$padding;
  text-decoration:$decoration;
}

@mixin carousel-controls {
  display:inline-block;
  position:relative;
  background:#7c7b7a;
}

@mixin buttonized-link($padding: 2px 6px, $background: #0099ff, $color: #ffffff) {
  display:inline-block;
  position:relative;
  background:$background;
  color:$color;
  padding:$padding;
  text-decoration:none;
}

@mixin previous-arrow {
  content:'.';
  text-indent:-9999px;
  width:11px;
  height:11px;
  background:url('../gfx/previous-arrow.png');
  position:absolute;
  top:7px;
  left:7px;
}

@mixin next-arrow {
  content:'.';
  text-indent:-9999px;
  width:11px;
  height:11px;
  background:url('../gfx/next-arrow.png');
  position:absolute;
  top:7px;
  right:7px;
}


