#page form input[type='text'],
#page form input[type='password']  {
  @include form-field-padding;
  @include box-shadow;  
  height: auto;
  background: $fieldBackgroundColor;
  border: $fieldBorder;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: inherit;
  @include field-focus-animation;
}

#page form input:focus {
  @include box-shadow($shadow: $fieldFocusShadow);
}

#page form input[type='submit'],
#page form input[type='reset'] {
  @include rounded-borders;
  @include box-shadow;
  @include form-field-padding;
  height: auto;
  background: $buttonBackgroundColor;
  border: $buttonBorder;
  font-family: $fontFamily;
  color: $buttonFontColor;
  font-size: inherit;
  text-shadow: none;
  font-weight: normal;
  @include text-shadow($shadow: $textShadow);
  float:none;
  clear:both;
  display:inline-block;
}

#page form input[type='submit']:hover,
#page form input[type='reset']:hover {
  background: $buttonHoverBackgroundColor;
  border: $buttonBorderHover;
}

#page form textarea {
  @include rounded-borders;
  @include box-shadow;
  border: $fieldBorder;
  @include form-field-padding;
  @include field-focus-animation;
}

#page form textarea:focus {
  @include box-shadow($shadow: $fieldFocusShadow);
}

html.js input.form-autocomplete {
  background-image: url("../gfx/throbber.gif");
  background-position: 100% 8px;
  background-repeat: no-repeat;
}

html.js input.form-autocomplete.throbbing {
  background-image: url("../gfx/throbber.gif");
  background-position: 100% -12px;
  background-repeat: no-repeat;
}

input.form-file {
  margin-right:5px;
}

/* HEADER SEARCH */

div#block-search-form {
  display:inline-block;
  margin:0 0 0 20px
}

form#search-block-form .form-actions input {
  margin-right:0;
}

form#search-block-form input.form-text,
form#search-form #edit-basic input#edit-keys {
  width:220px;
  background:url('../gfx/search_icon.gif') no-repeat 5px center;
  padding-left:30px;
}

/* SEARCH RESULTS */

form#search-form #edit-basic label {
  display:none;
}




