form input[type='text'],
form input[type='password']  {
  @include form-field-padding;
  @include box-shadow;  
  height: auto;
  background: $fieldBackgroundColor;
  border: $fieldBorder;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: inherit;
}

#page form input[type='submit'],
#page form input[type='reset'] {
  @include rounded-borders;
  @include box-shadow;
  @include form-field-padding;
  height: auto;
  background: $buttonBackgroundColor;
  border: $buttonBorder;
  font-family: $fontFamily;
  color: $buttonFontColor;
  font-size: inherit;
  text-shadow: none;
  font-weight: normal;
  @include text-shadow($shadow: $textShadow);
}

#page form input[type='submit']:hover,
#page form input[type='reset']:hover{
  background: $buttonHoverBackgroundColor;
  border: $buttonBorderHover;
}

#page form textarea {
  @include rounded-borders;
  @include box-shadow;
  border:1px solid #aaa;
  @include form-field-padding;
}

html.js input.form-autocomplete {
  background-image: url("../gfx/throbber.gif");
  background-position: 100% 8px;
  background-repeat: no-repeat;
}

html.js input.form-autocomplete.throbbing {
  background-image: url("../gfx/throbber.gif");
  background-position: 100% -12px;
  background-repeat: no-repeat;
}

input.form-file {
  margin-right:5px;
}