/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

#page-container {
  margin:0 auto;
  @include box-shadow($shadow: 0 0 30px rgba(0,0,0,0.3));
  border: $boxBorder;
}