/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#page-container {
  max-width:960px;
}
