/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

html body {
  margin-left:30px;
}

#page-container {
  width:1200px;
}

#login-register .panel-panel {
  max-width:490px;
  margin:0 40px;
}

#user-login input.form-text,
#user-register-form input.form-text {
  max-width:100%;
  min-width:100%;
}

/* NAVIGATION */

#region-menu .navigation.fixedPosition {
  position:fixed;
  z-index:9999;
  display:block;
  width:1192px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

/* LIST ALL COURSES VIEW */

.view-courses-not .views-row,
.view-courses-started .views-row,
.view-courses-ended .views-row,
.view-editors-choise .views-row {
  max-width:260px;
}

.view-courses-not .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva,
.view-courses-ended .views-row .views-field-field-kurssin-kuva,
.view-editors-choise .views-row .views-field-field-kurssin-kuva {
  overflow:hidden;
  max-height:176px;
}

.view-courses-not .views-row .views-field-field-summary .field-content,
.view-courses-started .views-row .views-field-field-summary .field-content,
.view-courses-ended .views-row .views-field-field-summary .field-content,
.view-editors-choise .views-row .views-field-field-summary .field-content {
  min-height:155px;
  max-height:155px;
}


/* FRONTPAGE JCAROUSEL */

.view-courses-not .jcarousel-container-horizontal,
.view-courses-started .jcarousel-container-horizontal,
.view-courses-ended .jcarousel-container-horizontal {
  width: 1180px;

}

.view-courses-not .jcarousel-clip-horizontal,
.view-courses-started .jcarousel-clip-horizontal,
.view-courses-ended .jcarousel-clip-horizontal {
  width: 1180px;
}

.view-courses-not .jcarousel-item-padding {
/*   height:620px; */
}

.view-courses-started .jcarousel-item-padding,
.view-courses-ended .jcarousel-item-padding {
/*   height:660px; */
}

.view-courses-not .jcarousel-item-horizontal,
.view-courses-started .jcarousel-item-horizontal,
.view-courses-ended .jcarousel-item-horizontal {
  margin: 5px 10px;
}

.view-courses-not .jcarousel-item,
.view-courses-started .jcarousel-item,
.view-courses-ended .jcarousel-item {
  width: 275px; 
}

.view-courses-not .jcarousel-item .views-field-field-kurssin-kuva,
.view-courses-started .jcarousel-item .views-field-field-kurssin-kuva,
.view-courses-ended .jcarousel-item .views-field-field-kurssin-kuva {
  max-height:176px;
}

.view-courses-not .jcarousel-item .views-field-field-summary .field-content,
.view-courses-started .jcarousel-item .views-field-field-summary .field-content,
.view-courses-ended .jcarousel-item .views-field-field-summary .field-content {
  min-height:155px;
  max-height:155px;
  line-height:1.5em;
}
