/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#page-container {
  /* max-width:960px; */
  width:960px;
}

#login-register .panel-panel {
  max-width:450px;
  margin:0 10px;
}

/* NAVIGATION */

#region-menu .navigation.fixedPosition {
  position:fixed;
  z-index:9999;
  display:block;
  width:952px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

/* FRONTPAGE CAROUSEL */

.view-courses-not-started .views-row,
.view-courses-started .views-row  {
  max-width:205px;
}

.view-courses-not-started .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva {
  overflow:hidden;
  max-height:137px;
}

.view-courses-not-started .views-row .views-field-field-summary .field-content,
.view-courses-started .views-row .views-field-field-summary .field-content {
  margin:0;
  padding:0 0 10px 0;
  min-height:190px;
  max-height:190px;
  display:block;
}