/* This file will hold styles that are loaded using the same media query as the wide grid. */

/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#page-container {
  /* max-width:1200px; */
  width:1200px;
}

#zone-branding-wrapper {
  background-size:100% 231px;
}

#zone-menu-wrapper {
  background-size:100% 65px;
}

#zone-content-wrapper {
  background-size:100% auto;
}

#login-register .panel-panel {
  max-width:490px;
  margin:0 40px;
}

#user-login input.form-text,
#user-register-form input.form-text {
  max-width:100%;
  min-width:100%;
}

/* NAVIGATION */

#region-menu .navigation.fixedPosition {
  position:fixed;
  z-index:9999;
  display:block;
  width:1192px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

/* FRONTPAGE CAROUSEL */

.view-courses-not-started .views-row,
.view-courses-started .views-row {
  float:left;
  max-width:264px;
  padding:8px;
  margin:0 7px 0 7px;
  @include box-shadow;
  background:#ffffff;
  border:1px solid #ffffff;
}

.view-courses-not-started .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva {
  overflow:hidden;
  max-height:176px;
}

.view-courses-not-started .views-row .views-field-body .field-content,
.view-courses-started .views-row .views-field-body .field-content  {
  margin:0;
  padding:0 0 10px 0;
  min-height:155px;
  max-height:155px;
  border-bottom:1px solid #f2f2f2;
}
