/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/* Associated stylesheets as determined by different screen width
 * 0px to 740px wide: global.css
 * 741px to 979px wide: global.css + default.css + narrow.css
 * 980px to 1219px wide: global.css + default.css + narrow.css + normal.css
 * 1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css */
 
@import "base";

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#page-container {
  max-width:960px;
}

#login-register .panel-panel {
  max-width:450px;
  margin:0 10px;
}

/* FRONTPAGE CAROUSEL */

.view-frontpage-carousel-of-groups .views-row {
  float:left;
  max-width:205px;
  padding:8px;
  margin:0 7px 0 7px;
  @include box-shadow;
  background:#ffffff;
  border:1px solid #ffffff;
}

.view-frontpage-carousel-of-groups .views-row .views-field-body .field-content {
  margin:0;
  padding:0 0 10px 0;
  min-height:190px;
  max-height:190px;
  border-bottom:1px solid #f2f2f2;
}
