/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Associated stylesheets as determined by different screen width

0px to 740px wide: global.css
741px to 979px wide: global.css + default.css + narrow.css
980px to 1219px wide: global.css + default.css + narrow.css + normal.css
1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css

 */
 
@import "base";
@import "forms";

/* REMOVE THE PESKY STRICT PHP MESSAGES */

.messages.error {
  display:none;
}

body {
  font-family:$fontFamily;
  color:$fontColor;
  font-size:$fontSize;
  background:url('../gfx/view-port-background.gif') repeat-x left top;
}

h1, h2, h3, h4, h5, h6 {
  font-family:$fontFamily;
  text-transform:uppercase;
  letter-spacing:0;
}

#page h1,
#page h2 {
  font-size:1.2em;
  @include h1h2-defaults;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 0 0;
}

#page-container {
  /* max-width:960px; */
  width:960px;
}

#page .node-page {
  margin:20px 14px 10px 14px;
}

#page h3 {
  font-size:1.1em;
}

#page .container-16 .grid-16 { /* NOT PREFERED WAY TO DO THIS! REMOVE IF EVEN SLIGHTLY POSSIBLE */
  width:100%;
  margin:0;
}

#page-container {
  padding:0 10px 10px 10px;
}

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#zone-header {
  margin:0 0 5px 0;
  background:#ffffff;
}

.region-header-second-inner {
  text-align:right;
}

/* BACKGROUNDS */

#zone-branding-wrapper {
  height:231px;
  background:url('../gfx/header-background.jpg') no-repeat;
}

#zone-menu-wrapper {
  padding:8px 0 28px 0;
  background:url('../gfx/navigation-background.jpg') no-repeat;
  height:29px;
}

#zone-content-wrapper {
  background:url('../gfx/content-background.jpg') no-repeat;
}

/* NAVIGATION */

#zone-menu {
  padding:0;
  position:relative;
}

#region-menu .navigation {
  padding:2px 4px;
  background:#000000;
  position:relative;
}

#region-menu .navigation.fixedPosition {
  position:fixed;
  z-index:9999;
  display:block;
  width:1192px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

#region-menu .navigation ul {
  margin:0;
}

#region-menu .navigation ul li {
  padding:0 5px;
}

#region-menu .navigation ul a {
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  padding:2px 6px;
  display:inline-block;
}

#region-menu .navigation ul a:hover, 
#region-menu .navigation.fixedPosition ul a:hover {
  background:#333333;
 @include rounded-borders; 
}

/* HEADER LINKS */

.header-links {
  display:inline-block;
  padding:6px 10px 6px 0;
}

.header-links a {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
  text-transform:uppercase;
}

.header-links a:hover {
  color:$linkHoverColorHeader;
}

.header-links a:focus {
  color:$linkFocusColorHeader;
}

/* SEARCH */

div#block-search-form {
  display:inline-block;
  margin:0 0 0 20px
}

form#search-block-form .form-actions input {
  margin-right:0;
}

form#search-block-form input.form-text {
  width:220px;
  background:url('../gfx/search_icon.gif') no-repeat 5px center;
  padding-left:30px;
}


/* LOGIN, SIGNUP, USERIFNO AND LOGOUT */

#login-register .panel-panel h2 {
  background:url('../gfx/title-background.jpg');
  padding:5px 5px 5px 20px;
  border:2px solid #000;
}

#user-login input.form-text,
#user-register-form input.form-text {
  max-width:100%;
  min-width:95%;
}

#login-register .panel-panel {
  max-width:340px;
  min-width:340px;
  margin:0 5px;
}

#login-register .panel-panel .inside {
  margin:0;
}

#block-block-1,
#block-block-2 {
  display:inline-block;
  margin:0;
  padding:0 4px;
}

#block-login-signup ,
#block-userinfo-logout {
  padding:4px 0;
  white-space:nowrap;
}

#block-login-signup a,
#block-userinfo-logout a  {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
}

#block-login-signup a:hover,
#block-userinfo-logout a:hover {
  color:$linkHoverColorHeader;
}

#block-login-signup a:focus,
#block-userinfo-logout a:focus {
  color:$linkFocusColorHeader;
}

#block-userinfo-logout span,
#block-login-signup span {
  display:inline-block;
}

/* FRONTPAGE CAROUSEL / NOT STARTED COURSES LISTING / STARTED COURSES LISTING  */

#views_slideshow_cycle_main_courses_not_started-block_slider,
#views_slideshow_cycle_main_courses_started-block_slider {
  padding:0 5px 10px 7px;
}

.views-slideshow-cycle-main-frame-row {
  padding:0 0 5px 0;
}

.view-courses-not-started.view-display-id-block_slider,
.view-courses-started.view-display-id-block_slider {
  margin:6px 0 0 0;
}

.view-courses-not-started.view-display-id-page_list_all,
.view-courses-started.view-display-id-page_list_all {
  margin:6px 0 0 0;
  display:table;
  padding:0 5px 10px 7px;
}

.view-courses-not-started .views-row,
.view-courses-started .views-row  {
  float:left;
  max-width:205px;
  padding:8px;
  margin:0 7px 0 7px;
  @include box-shadow;
  background:#ffffff;
  border:1px solid #ffffff;
}

.view-courses-not-started .views-row.courses-not-started-page-row,
.view-courses-started .views-row.courses-started-page-row {
  margin:20px 7px 0 7px;
}

.view-courses-not-started .views-row:hover,
.view-courses-started .views-row:hover {
  border:1px solid #dddddd;
}

.view-courses-not-started .views-row-first,
.view-courses-started .views-row-first {
  margin:0 7px 0 9px;
}

.view-courses-not-started .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva {
  width:100%;
  overflow:hidden;
  max-height:137px;
}

.view-courses-not-started .views-row img,
.view-courses-started .views-row img {
  width:100%;
  height:auto;
}

.view-courses-not-started .views-row .views-field-title,
.view-courses-started .views-row .views-field-title {
  margin:10px 0 3px 0;
}

.view-courses-not-started .views-row .views-field-title a,
.view-courses-started .views-row .views-field-title a {
  text-transform:uppercase;
  font-size:1.1em;
  color:#af6700;
  text-decoration:none;
}

.view-courses-not-started .views-row .views-field-body .field-content,
.view-courses-started .views-row .views-field-body .field-content {
  margin:0;
  padding:0 0 10px 0;
  min-height:190px;
  max-height:190px;
  border-bottom:1px solid #f2f2f2;
}

.view-courses-not-started .views-row span.views-label,
 .view-courses-started .views-row span.views-label,
 .view-courses-not-started .views-row .field-content span.views-label {
  text-transform:uppercase;
  margin:5px 0 0 0;
  padding:5px 0 0 0;
  display:block;
  font-size:0.925em;
  color:$fontColor;
}

.view-courses-not-started .views-row .field-content,
.view-courses-started .views-row .field-content {
  font-size:0.925em;
  color:#757575;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator-wrapper {
  width:100%;
  background:#f8f8f8;
  margin:4px 0 0 0;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator {
  text-align:right;
  background:#3bf210;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-percent {
  padding:2px 4px 2px 0px;
}

#views_slideshow_controls_text_courses_not_started-block_slider,
#views_slideshow_controls_text_courses_started-block_slider {
  display:block;
  clear:both;
  height:2.5em;
  margin:0 15px 5px 15px;
}

.view-courses-not-started #views_slideshow_controls_text_courses_not_started-block_slider a,
.view-courses-started #views_slideshow_controls_text_courses_started-block_slider a {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_courses_not_started-block_slider a:hover,
#views_slideshow_controls_text_courses_started-block_slider a:hover,
#views_slideshow_controls_text_courses_not_started-block_slider span:hover,
#views_slideshow_controls_text_courses_started-block_slider span:hover {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider,
#views_slideshow_controls_text_previous_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 12px 2px 24px
}

#views_slideshow_controls_text_next_courses_not_started-block_slider,
#views_slideshow_controls_text_next_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 24px 2px 12px;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider:before,
#views_slideshow_controls_text_previous_courses_started-block_slider:before {
  @include previous-arrow;
}

#views_slideshow_controls_text_next_courses_not_started-block_slider:before,
#views_slideshow_controls_text_next_courses_started-block_slider:before {
  @include next-arrow;
}

#views_slideshow_controls_text_pause_courses_not_started-block_slider,
#views_slideshow_controls_text_pause_courses_started-block_slider {
  display:none;
}

/* COURSE PAGE */

#page #node-kurssi-panel .panel-panel.grid-4 {
  float:right;
}

#page #node-kurssi-panel #mini-panel-kurssi_minipanel .panel-panel.grid-4 {
  float:left;
}

#page #node-kurssi-panel h2 {
  margin:0 0 20px 0;
}

#page #node-kurssi-panel .pane-og-members-panel-pane-1 h2 {
  font-size:1.2em;
  @include h1h2-defaults-rtl;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

#page #node-kurssi-panel .pane-og-members-panel-pane-1 .pane-content {
  @include box-padding;
  @include box-shadow;
  background:#fff;
  margin:0 14px 0 0;
}

#page #node-kurssi-panel .pane-node-field-kurssin-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#mini-panel-kurssi_minipanel ul {
  margin:0 0 14px 14px;
}

#mini-panel-kurssi_minipanel ul li {
  margin:0;
}

#page #node-kurssi-panel .field-label {
  text-transform:uppercase;
  margin:5px 0 0 0;
  padding:5px 0 0 0;
  display:block;
  font-size:0.925em;
}

#page #node-kurssi-panel .field-name-body .field-items {
  font-size:1em;
  color:#000000;
}

#page #node-kurssi-panel .field-items {
  font-size:1em;
  color:#757575;
}

#page #node-kurssi-panel .join-course-link {
  margin:10px 0 0 0;
}

#page #node-kurssi-panel .join-course-link a {
  @include buttonized-link;
  @include box-shadow;
  @include rounded-borders;
}

#page #node-kurssi-panel .view-og-members .views-row {
  clear:both;
  height:32px;
  padding:6px;
  display:inline-block;
}

#page #node-kurssi-panel .view-og-members .views-row:hover .views-field-field-sukunimi a {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-kurssi-panel .view-og-members .views-row .views-field-field-kuva {
  float:left;
  height:32px;
  width:32px;
  overflow:hidden;
  margin-right:5px;
  border:1px solid #f2f2f2;
}

#page #node-kurssi-panel .view-og-members .views-row .views-field-field-kuva img {
  height:32px;
  width:32px;
}

#page #node-kurssi-panel .view-og-members .views-row .views-field-field-sukunimi {
  float:left;
}

#page #node-kurssi-panel .view-og-members .views-row .views-field-field-sukunimi a {
  color:$linkColorUser;
  text-decoration:none;
  padding:6px 3px 14px 3px;
  height:1em;  
  @include text-shadow($shadow: 0 0 2px #ffffff);
  display:inline-block;
}


#page #node-kurssi-panel .view-og-members .views-row .views-field-field-sukunimi a:hover {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-kurssi-panel .view-og-members .views-row .views-field-field-sukunimi a:focus {
  color:$linkFocusColorUser;
  text-decoration:none;
}

