/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Associated stylesheets as determined by different screen width

0px to 740px wide: global.css
741px to 979px wide: global.css + default.css + narrow.css
980px to 1219px wide: global.css + default.css + narrow.css + normal.css
1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css

 */
 
@import "base";
@import "forms";

/* REMOVE THE PESKY STRICT PHP MESSAGES */

.messages.error {
/*   display:none; */
}

/* GENERIC STUFF */

body {
  font-family:$fontFamily;
  color:$fontColor;
  font-size:$fontSize;
  background:url('../gfx/view-port-background.gif') repeat-x left top;
}

a,
a:visited {
  color:$linkColor;
}

a:hover {
  color:$linkHoverColor;
}

a:focus {
  color:$linkFocusColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family:$fontFamily;
  text-transform:uppercase;
  letter-spacing:0;
}

#page h1,
#page h2 {
  font-size:1.2em;
  @include h1h2-defaults;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

#page .block-views h2 {
  margin:0 6px 0px 0; /* Frontpage carousel h2 override */
}

#page section.block-views h2 {
  margin:0 6px 0px 0; /* Frontpage carousel h2 override */
}

#page-container {
  /* max-width:960px; */
  width:960px;
}

#page .node-page,
#page #user-profile-form  {
  margin:0 14px 10px 14px;
}

#page h3 {
  font-size:1.1em;
}

#page .container-16 .grid-16 { /* NOT PREFERED WAY TO DO THIS! REMOVE IF EVEN SLIGHTLY POSSIBLE */
  width:100%;
  margin:0;
}

#page-container {
  padding:0 10px 10px 10px;
}

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#zone-header {
  margin:0 0 5px 0;
  background:#ffffff;
}

.region-header-second-inner {
  text-align:right;
}

.generic-empty-text-wrapper {
  text-align:center;
  font-style:italic;
  color:$altFontColor;
}

.view-empty {
  text-align:center;
  font-style:italic;
  color:$altFontColor;
}

.imagefield-crop-widget {

}

.imagefield-crop-preview {
  margin:0 0 10px 0;
}

.imagefield-crop-preview img {
  @include box-shadow;
}

.imagefield-crop-cropbox {
  margin:0 0 10px 0;
}

.imagefield-crop-cropbox img {
  @include box-shadow;
}

/* BACKGROUNDS */

#zone-branding-wrapper {
  height:231px;
  background:url('../gfx/header-background.jpg') no-repeat;
}

#zone-menu-wrapper {
  padding:8px 0 28px 0;
  background:url('../gfx/navigation-background.jpg') no-repeat;
  height:29px;
}

#zone-content-wrapper {
  background:url('../gfx/content-background.jpg') no-repeat;
}

/* NAVIGATION */

#zone-menu {
  padding:0;
  position:relative;
}

#region-menu .navigation {
  padding:2px 4px;
  background:#000000;
  position:relative;
}

#region-menu .navigation.fixedPosition {
  position:fixed;
  top:0;
  z-index:9999;
  display:block;
  width:1192px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

#region-menu .navigation ul {
  margin:0;
}

#region-menu .navigation ul li {
  padding:0 5px;
}

#region-menu .navigation ul a {
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  padding:2px 6px;
  display:inline-block;
}

#region-menu .navigation ul a:hover, 
#region-menu .navigation.fixedPosition ul a:hover {
  transition-property:background;
  transition-duration:0.75s;
  background:#424242;
  @include rounded-borders;
  @include text-shadow;
}

/* HEADER LINKS */

.header-links {
  display:inline-block;
  padding:6px 10px 6px 0;
}

.header-links a {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
  text-transform:uppercase;
}

.header-links a:hover {
  color:$linkHoverColorHeader;
}

.header-links a:focus {
  color:$linkFocusColorHeader;
}

/* SEARCH */

div#block-search-form {
  display:inline-block;
  margin:0 0 0 20px
}

form#search-block-form .form-actions input {
  margin-right:0;
}

form#search-block-form input.form-text {
  width:220px;
  background:url('../gfx/search_icon.gif') no-repeat 5px center;
  padding-left:30px;
}

/* CONTENT EDITING TABS */

ul.tabs.primary,
ul.tabs.primary li {
  margin:0;
  border:0;
}

ul.tabs.primary li a {
  display:inline-block;
  padding:6px 20px;
  background:#ffffff;
  text-transform:uppercase;
  color:$linkColor;
  border:0;
  @include box-shadow;
}

ul.tabs.primary li a:hover {
  color:$linkHoverColor;
  background:#ffffff;
}

ul.tabs.primary li.active a {
  color:#ffffff;
  background:#000000;
}

/* LOGIN, SIGNUP, USERINFO AND LOGOUT */

#login-register .panel-panel h2 {
  background:url('../gfx/title-background.jpg');
  padding:5px 5px 5px 20px;
  border:2px solid #000;
}

#user-login input.form-text,
#user-register-form input.form-text {
  max-width:100%;
  min-width:95%;
}

#login-register .panel-panel {
  max-width:340px;
  min-width:340px;
  margin:0 5px;
}

#login-register .panel-panel .inside {
  margin:0;
}

#block-block-1,
#block-block-2,
#block-block-3, 
#block-block-4 {
  display:inline-block;
  margin:0;
  padding:0 4px;
}

#block-login-signup ,
#block-userinfo-logout {
  padding:4px 0;
  white-space:nowrap;
}

#block-login-signup a,
#block-userinfo-logout a  {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
}

#block-login-signup a:hover,
#block-userinfo-logout a:hover {
  color:$linkHoverColorHeader;
}

#block-login-signup a:focus,
#block-userinfo-logout a:focus {
  color:$linkFocusColorHeader;
}

#block-userinfo-logout span,
#block-login-signup span {
  display:inline-block;
}

/* FRONTPAGE CAROUSEL / NOT STARTED COURSES LISTING / STARTED COURSES LISTING  */

#views_slideshow_cycle_main_courses_not_started-block_slider,
#views_slideshow_cycle_main_courses_started-block_slider {
  padding:0 5px 10px 7px;
}

.views-slideshow-cycle-main-frame-row {
  padding:5px 0 5px 0;
  display:table;
}

.view-courses-not-started.view-display-id-block_slider #views_slideshow_cycle_main_courses_not_started-block_slider,
.view-courses-started.view-display-id-block_slider #views_slideshow_cycle_main_courses_not_started-block_slider {
  margin:15px 0 0 0;
}

.view-courses-not-started.view-display-id-page_list_all,
.view-courses-started.view-display-id-page_list_all {
  margin:5px 0 0 0;
  padding:0 5px 0 7px;
}

.view-courses-not-started .views-row,
.view-courses-started .views-row  {
  float:left;
  max-width:205px;
  padding:6px;
  margin:0 7px 0 10px;
  @include box-shadow;
  background:#ffffff;
  border:1px solid #ffffff;
  @include carousel-hover-transition;
}

.view-courses-not-started .views-row.courses-not-started-page-row,
.view-courses-started .views-row.courses-started-page-row {
  margin:5px 7px 15px 10px;
}

.view-courses-not-started .views-row:hover,
.view-courses-started .views-row:hover {
  border:1px solid #7ca246;
  @include box-shadow($shadow: 0 0 8px rgba(167,196,90,0.9));
  background:#ffffff;
}

.view-courses-not-started .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva {
  width:100%;
  overflow:hidden;
  max-height:137px;
}

.view-courses-not-started .views-row img,
.view-courses-started .views-row img {
  width:100%;
  height:auto;
}

.view-courses-not-started .views-row .views-field-title,
.view-courses-started .views-row .views-field-title {
  margin:10px 0 3px 0;
  height:1.5em;
  overflow:hidden;
}

.view-courses-not-started .views-row .views-field-title a,
.view-courses-started .views-row .views-field-title a {
  text-transform:uppercase;
  font-size:1.1em;
  color:$linkColorCourse;
  text-decoration:none;
}

.view-courses-not-started .views-row .views-field-title a:hover,
.view-courses-started .views-row .views-field-title a:hover {
  color:$linkHoverColorCourse;
}

.view-courses-not-started .views-row .views-field-title a:focus,
.view-courses-started .views-row .views-field-title a:focus {
  color:$linkFocusColorCourse;
}

.view-courses-not-started .views-row .views-field-field-summary .field-content,
.view-courses-started .views-row .views-field-field-summary .field-content {
  margin:0 0 5px 0;
  padding:0 0 15px 0;
  min-height:190px;
  max-height:190px;
  overflow:hidden;
  display:block;
}

.view-courses-not-started .views-row .views-field-field-arvio .field-content, 
.view-courses-started .views-row .views-field-field-arvio .field-content {
  margin:0 0 5px 0;
  padding:0 0 10px 0;
  border-bottom:1px solid #f2f2f2;
  display:block;
}

.view-courses-not-started .views-row .views-field-field-arvio .fivestar-widget-static,
.view-courses-started .views-row .views-field-field-arvio .fivestar-widget-static {
  display:inline-block;
  float:right;
}

.view-courses-not-started .views-row span.views-label,
.view-courses-started .views-row span.views-label,
.view-courses-not-started .views-row .field-content span.views-label {
  @include generic-course-meta-info-label;
}

.view-courses-not-started .views-row .field-content,
.view-courses-started .views-row .field-content {
   @include generic-course-meta-info-field;
}

.view-courses-not-started .views-row .views-field-field-kurssin-vetaja,
.view-courses-started .views-row .views-field-field-kurssin-vetaja {
   position:relative;
}

.view-courses-not-started .views-row .views-field-field-kurssin-vetaja .field-content,
.view-courses-started .views-row .views-field-field-kurssin-vetaja .field-content {
   @include generic-course-meta-info-field;
   overflow:hidden;
   max-height:1.5em;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator-wrapper {
  width:100%;
  background:#f8f8f8;
  margin:4px 0 0 0;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator {
  text-align:right;
  background:#3bf210;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-percent {
  padding:2px 4px 2px 0px;
}

#views_slideshow_controls_text_courses_not_started-block_slider,
#views_slideshow_controls_text_courses_started-block_slider {
  display:block;
  clear:both;
  margin:0 15px 0 17px;
}

.view-courses-not-started #views_slideshow_controls_text_courses_not_started-block_slider a,
.view-courses-started #views_slideshow_controls_text_courses_started-block_slider a {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_courses_not_started-block_slider a:hover,
#views_slideshow_controls_text_courses_started-block_slider a:hover,
#views_slideshow_controls_text_courses_not_started-block_slider span:hover,
#views_slideshow_controls_text_courses_started-block_slider span:hover {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider,
#views_slideshow_controls_text_previous_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 12px 2px 24px
}

#views_slideshow_controls_text_next_courses_not_started-block_slider,
#views_slideshow_controls_text_next_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 24px 2px 12px;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider:before,
#views_slideshow_controls_text_previous_courses_started-block_slider:before {
  @include previous-arrow;
}

#views_slideshow_controls_text_next_courses_not_started-block_slider:before,
#views_slideshow_controls_text_next_courses_started-block_slider:before {
  @include next-arrow;
}

#views_slideshow_controls_text_pause_courses_not_started-block_slider,
#views_slideshow_controls_text_pause_courses_started-block_slider {
  display:none;
}

/* COURSE PAGE */

#page #node-course-panel .panel-panel.grid-4 {
  float:right;
}

#page #node-course-panel #mini-panel-kurssi_minipanel .panel-panel.grid-4 {
  float:left;
}

#page #node-course-panel h2 {
  margin:0 0 20px 0;
}

.pane-kurssi-minipanel {
  display:table;
}

#page #node-course-panel .pane-course-members h2 {
  font-size:1.2em;
  @include h1h2-defaults-rtl;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

#page #node-course-panel .pane-course-members .pane-content {
  @include box-padding;
  @include box-shadow;
  background:#fff;
  margin:0 14px 0 0;
}

#page #node-course-panel .pane-node-field-kurssin-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#page #node-course-panel .field-type-fivestar {
  margin:10px 0 5px 0;
}

#mini-panel-kurssi_minipanel ul {
  margin:0 0 14px 14px;
}

#mini-panel-kurssi_minipanel ul li {
  margin:0;
}

#page #node-course-panel .field-label {
  @include generic-course-meta-info-label;
}

#page #node-course-panel #join-course-block {
  margin-top:15px;
}

#page #node-course-panel #join-course-block a {
  @include buttonized-link;
  @include rounded-borders;
  @include box-shadow;
}

#page #node-course-panel #join-course-block a:hover {
  @include text-shadow;
}

#page #node-course-panel .pane-node-body {
  overflow:hidden;
  position:relative;
}

#page #node-course-panel .pane-node-body .description-fader {
  position:absolute;
  display:block;
  bottom:0;
  left:0;
  right:0;
  height:80px;
  border-bottom:8px solid #fff;
  /* fallback */ 
  background: transparent; 
  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1))); 
  /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); 
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); 
  /* IE 10 */ 
  background: -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1)); 
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
}

#page #node-course-panel .pane-node-body .description-fader.hidden-fader {
  display:none;
}  
  
#page #node-course-panel .desc-control-wrapper {
  height:20px;
  padding:5px;
  text-align:right;
  margin-top:5px;
}

#page #node-course-panel .show-more-link,
#page #node-course-panel .show-less-link {
  @include expanding-buttonized-link;
}

#page #node-course-panel .show-less-link {
  background:url('../gfx/show-less-arrow.png') no-repeat center right #7c7b7a;
}

#page #node-course-panel .show-more-link {
  background:url('../gfx/show-more-arrow.png') no-repeat center right #7c7b7a;
}

#page #node-course-panel .hiddenControl {
  display:none;
}

#page #node-course-panel .pane-node-field-tagit {
  margin-bottom:20px;
}

#page #node-course-panel .field-name-body .field-items {
  font-size:1em;
  color:#000000;
}

#page #node-course-panel .field-items {
  @include generic-course-meta-info-field;
}

#page #node-course-panel .join-course-link {
  margin:10px 0 0 0;
}

#page #node-course-panel .view-course-members .views-row {
  clear:both;
  height:32px;
  padding:4px;
  display:block;
  cursor:pointer;
}

#page #node-course-panel .view-course-members .views-row:hover .views-field-field-account-sukunimi a {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-kuva {
  float:left;
  height:32px;
  width:32px;
  overflow:hidden;
  margin-right:5px;
  border:1px solid #f2f2f2;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-kuva img {
  height:32px;
  width:32px;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi {
  float:left;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a {
  color:$linkColorUser;
  text-decoration:none;
  padding:6px 3px 14px 3px;
  height:1em;  
  @include text-shadow($shadow: 0 0 2px #ffffff);
  display:inline-block;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a:hover {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a:focus {
  color:$linkFocusColorUser;
  text-decoration:none;
}

/* AJAX COURSE JOINING */

#page #mini-panel-kurssi_minipanel ul {
  position:relative;
}

#page #mini-panel-kurssi_minipanel ul #join-course-form-block {
  position:absolute;
  bottom:35px;
  left:-10px;
  width:350px;
  min-height:50px;
  background:#fff;
  @include box-padding($padding: 10px 15px);
  @include box-shadow(0 -4px 20px rgba(0,0,0,0.3));
  @include rounded-borders;
  border:1px solid #aaaaaa;
  z-index:999;
}

#page #mini-panel-kurssi_minipanel ul #join-course-form-block h3 {
  font-weight:normal;
  font-size:1em;
}

#page #mini-panel-kurssi_minipanel ul #join-course-form-block label {
  font-weight:normal;
  font-size:0.90em;
}

#page #mini-panel-kurssi_minipanel ul #join-course-form-block  .form-actions {
  margin:15px 0 5px 0;
}

#page #mini-panel-kurssi_minipanel ul .join-course-title-block {
  text-transform:uppercase;
  font-size:1.1em;
  margin:0 0 5px 0;
}

#page #mini-panel-kurssi_minipanel ul .join-course-description-block {
  color:$altFontColor;
  font-size:0.95em;
  margin:2px 0 2px 0;
}

#page #mini-panel-kurssi_minipanel ul .form-item .description {
  color:$altFontColor;
  font-size:0.95em;
}

#page #mini-panel-kurssi_minipanel ul .join-course-arrow-block {
  position:absolute;
  bottom:-10px;
  left:50px;
  height:9px;
  width:15px;
  background:url('../gfx/arrow-bottom.png') no-repeat;
}

#page #mini-panel-kurssi_minipanel ul div.ajax-progress {
  display:none;
}

#page #join-course-form-block form label {
  text-transform:uppercase;
}

#page #join-course-form-block form input.form-text {
  max-width: 100%;
  min-width: 95%;
}

/* FIVESTAR RATING */

#page form #edit-fivestar-submit {
  display:none;
}

/* STATUSES */

.statuses-chars {
  color:$altFontColor;
  font-size:0.9em;
}

.pane-statuses-statuses {
  margin:20px 0 10px 0; 
}

.statuses-textarea-wrapper {
  border:0;
  box-shadow:none;
  margin:0 0 10px 14px;
  padding:0;
}

#page .statuses-update input.statuses-submit {
  margin-left:auto;
  display:block;
}

.view-statuses-stream-custom,
.view-statuses-conversation-profile  {
  margin:20px 0 0 14px;
}

.view-statuses-stream-custom .views-row,
.view-statuses-conversation-profile .views-row {
  margin:0 0 10px 0;
  border-top:1px solid #f2f2f2;
  padding:10px;
}

.statuses-sender-picture {
  float:left;
  height:48px;
  width:48px;
  padding:0px;
  @include box-shadow;
}

.fbss-comments-comment  .fbss-comments-author-picture {
  float:left;
  width:32px;
  height:32px;
}

.fbss-comments-author-picture img {
  height:32px;
  width:32px;
}

.statuses-item .statuses-participants,
.statuses-item .fbss-comments-author {
  margin:0 0 5px 0;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a,
.view-statuses-conversation-profile .statuses-item .statuses-sender a {
  text-decoration:none;
  font-size:1.3em;
  color:$linkColorUser;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a:hover,
.view-statuses-conversation-profile .statuses-item .statuses-sender a:hover {
  color:$linkHoverColorUser;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a:focus,
.view-statuses-conversation-profile .statuses-item .statuses-sender a:focus {
  color:$linkFocusColorUser;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a {
  text-decoration:none;
  font-size:1.1em;
  color:$linkColorCourse;
  font-style:italic;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a:hover {
  color:$linkHoverColorCourse;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a:focus {
  color:$linkFocusColorCourse;
}

.view-statuses-stream-custom .statuses-item .fbss-comments-author a,
.view-statuses-conversation-profile .statuses-item .fbss-comments-author a {
  text-decoration:none;
  font-size:1.1em;
}

.statuses-item .content {
  margin-left:66px;
}

.statuses-comments .content {
  margin-left:48px;
}

.view-statuses-stream-custom .statuses-item .statuses-content,
.view-statuses-conversation-profile .statuses-item .statuses-content {
  font-size:1em;
}

.view-statuses-stream-custom .statuses-item .fbss-comments-text,
.view-statuses-conversation-profile .statuses-item .fbss-comments-text {
  font-size:0.9em;
}

.fbss-comments-text br {
  display:none;
}

.view-statuses-stream-custom .statuses-item .statuses-content p,
.view-statuses-stream-custom .statuses-item .fbss-comments-text p,
.view-statuses-conversation-profile .statuses-item .statuses-content p,
.view-statuses-conversation-profile .statuses-item .fbss-comments-text p {
  margin:0 0 10px 0;
}

.view-statuses-stream-custom .statuses-item .statuses-details,
.view-statuses-stream-custom .statuses-item .fbss-comments-closure,
.view-statuses-conversation-profile .statuses-item .statuses-details,
.view-statuses-conversation-profile .statuses-item .fbss-comments-closure {
  font-size:0.9em;
  font-style:italic;
  color:$altFontColor;
}

.statuses-details .statuses-links {
  position:relative;
    overflow:visible;
}

.statuses-details .statuses-links span,
.fbss-comments-closure .fbss-comments-links li {
  display:inline-block;
  margin:0 4px 0 4px;
}

.statuses-media > .content {
  overflow:visible;
}

#delete-status-form-block {
  position:absolute;
  height:auto;
  width:300px;
  bottom:30px;
  right:0;
  z-index:99999;
  overflow:visible;
  @include box-padding($padding: 10px 15px 15px 15px);
  @include box-shadow(0 -4px 20px rgba(0,0,0,0.3));
  @include rounded-borders;
  border:1px solid #aaaaaa;
  background:#ffffff;
  margin-right:-15px;
}

#edit-status-form-block {
  margin:0 0 10px 0;
}

#edit-status-form-block form .form-item {
  margin:0 0 10px 0;
}

#edit-status-form-block form textarea {
  font-size:1em;
  line-height:1.5em;
}

#delete-status-form-block  p {
  font-size:1.1em;
  margin:0 0 20px 0;
  font-style:normal;
  color:$fontColor;
}

#delete-status-form-block .cancel-status-delete,
#edit-status-form-block .cancel-status-edit {
  margin:0 10px 0 10px;
  display:inline-block;
}

.fbss-comments-edit-delete.fbss-comments-delete-link {
  position:relative; 
}

#delete-status-form-block .delete-status-arrow-block {
  position:absolute;
  bottom:-10px;
  right:30px;
  height:9px;
  width:15px;
  background:url('../gfx/arrow-bottom.png') no-repeat;
}

.statuses-media #edit-status-form-block .statuses-textarea-wrapper {
  border:0;
  box-shadow:none;
  margin:0 0 10px 0;
  padding:0;
}

#page .statuses-media div.ajax-progress {
  display:none;
}

.view-statuses-stream-custom .statuses-item .statuses-comments,
.view-statuses-conversation-profile .statuses-item .statuses-comments {
  border:0;
}

.statuses-comments .fbss-comments-comment {
  padding:10px;
  @include rounded-borders;
}

.statuses-comments .statuses-subitem {
  background:#f2f2f2;
  margin-top:2px;
  border:0;
}

.statuses-comments .statuses-subitem.form-piece {
  background:#f2f2f2;
  margin:0;
  border:0;
}

.statuses-comments .statuses-textarea-wrapper {
  margin:0 0 10px 0;
}

.statuses-subitem {
  padding:15px;
}

.fbss-comments-form.statuses-subitem {
  padding:0;
}

/* LOGIN and SIGNUP FORM */

#user-login label,
#user-register-form label {
  text-transform:uppercase;
  font-weight:normal;
}

#user-login h3 {
  text-transform:none;
  padding:0;
  margin:0 0 5px 0;
}

#user-login .item-list ul.hybridauth-widget li {
  margin:1px 8px 1px 1px;
}

/* USER PROFILE */

#page #node-user-panel .panel-panel.grid-4 {
  float:right;
}

#page #node-user-panel h2 {
  margin:0 0 20px 0;
}

#page #node-user-panel .pane-user-courses h2 {
  font-size:1.2em;
  @include h1h2-defaults-rtl;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

.pane-user-information {
  display:table;
  margin:0 0 20px 0;
  width:100%;
}

#page #node-user-panel .view-user-information {
  margin:0 0 14px 14px;
}

#page #node-user-panel .views-field-field-account-kuva {
  margin:0 10px 0 0;
  float:left;
  width:160px;
}

#page #node-user-panel .views-field-field-account-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#page #node-user-panel .views-field-field-account-sukunimi,
#page #node-user-panel .views-field-field-account-kuvaus,
#page #node-user-panel .views-field-field-account-tahdon-oppia,
#page #node-user-panel .views-field-field-account-taitoni {
  margin:0 0 10px 180px;
}

.view-user-information .views-field .views-label {
  text-transform:uppercase;
  font-weight:normal;
}

#page #node-user-panel .views-field-field-account-sukunimi {
  font-size:1.4em;
}

#page #node-user-panel .pane-user-courses .pane-content {
  @include box-padding;
  @include box-shadow;
  background:#fff;
  margin:0 14px 0 0;
}

#page #node-user-panel .pane-user-courses .views-row {
  clear:both;
  height:32px;
  padding:4px;
  display:block;
  cursor:pointer;
  position:relative;
}

#page #node-user-panel .pane-user-courses .views-row:hover {
  border-left:2px solid #000000;
  padding:4px 4px 4px 2px;
  background:#f8f8f8;
}

#page #node-user-panel .pane-user-courses .views-field-field-kurssin-kuva {
  width:32px;
  height:32px;
  overflow:hidden;
  float:left;
  margin-right:5px;
  border:1px solid #f2f2f2;
}

#page #node-user-panel .pane-user-courses .views-field-field-kurssin-kuva img {
  width:auto;
  height:32px;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title {
  float:left;
}

#page #node-user-panel .pane-user-courses .views-row:hover .views-field-title a {
  color:$linkHoverColorCourse;
  text-decoration:none;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a {
  color:$linkColorCourse;
  text-decoration:none;
  padding:6px 3px 14px 3px;
  height:1em;  
  @include text-shadow($shadow: 0 0 2px #ffffff);
  display:inline-block;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a:hover {
  color:$linkHoverColorCourse;
  text-decoration:none;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a:focus {
  color:$linkFocusColorCourse;
  text-decoration:none;
}

/* USERS COURSES TOOLTIP */

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-image {
  width:48px;
  height:48px;
  overflow:hidden;
  float:left;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper img{
  width:auto;
  height:48px;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-title {
  margin:0 0 5px 63px;

}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-title a {
  color:$linkColorCourse;
  text-decoration:none;
  text-transform:uppercase;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-desc {
  margin:0 0 5px 63px;
  max-height:115px;
  overflow:hidden;
  font-size:0.9em;
  color:$altFontColor;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-rating {
  margin:0 0 5px 63px;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-rating input {
  display:none;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-admin {
  margin:0 0 0 63px;
  font-size:0.9em;
  color:$altFontColor;
}

#page #node-user-panel .pane-user-courses .generic-tooltip-wrapper .users-courses-tooltip-admin:before {
  content:'Kurssin vetäjä';
  text-transform:uppercase;
  font-weight:normal;
  font-size:1em;
  display:block;
  color:$fontColor;
  margin:10px 0 0 0;
}

#page #node-user-panel .pane-user-courses .views-row .generic-tooltip-wrapper {
  opacity:0;
  visibility:hidden;
  position:absolute;
  margin-top:-50px;
  margin-left:-376px;
  display:block;
  padding:15px;
  width:350px;
  height:210px;
  @include box-shadow(-4px 0 20px rgba(0,0,0,0.3));
  @include rounded-borders;
  @include tooltip-rtl-animation;
}

#page #node-user-panel .pane-user-courses .views-row:hover .generic-tooltip-wrapper {
  visibility:visible;
  background:#ffffff;
  position:absolute;
  margin-left:-386px;
  border:1px solid #aaaaaa;
  z-index:99;
  opacity:1;
}

body #page #node-user-panel .pane-user-courses .views-row .generic-tooltip-wrapper.preventOverLappingTop {
  position:fixed;
  z-index:9999;
  margin-top:38px;
  top:0;
}

body #page #node-user-panel .pane-user-courses .views-row .generic-tooltip-wrapper.preventOverLappingBottom {
  position:fixed;
  z-index:9999;
  margin-bottom:5px;
  bottom:0;
}

/* TAXONOMY TERMS VIEW */

#page .view-taxonomy-term .views-row {
  clear:both;
  display:table;
  margin:0 14px 10px 14px;
  border-bottom:1px solid #eee;
  padding:5px 0 10px 0;
}

#page .view-taxonomy-term .views-row .views-field-field-kurssin-kuva {
  float:left;
  width:266px;
}

#page .view-taxonomy-term .views-row .views-field-field-kurssin-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#page .view-taxonomy-term .views-row .views-field-title,
#page .view-taxonomy-term .views-row .views-field-body {
  margin:0 20px 5px 290px;
}

#page .view-taxonomy-term .views-row .views-field-body {
  height:150px;
  overflow:hidden;
}

#page .view-taxonomy-term .views-row .views-field-title a {
  text-transform:uppercase;
  font-size:1.1em;
  color:$linkColorCourse;
  text-decoration:none;
}

#page .view-taxonomy-term .views-row .views-field-field-arvio {
  margin:10px 0 5px 0;
}

#page .view-taxonomy-term .views-row .views-field-field-kurssin-vetaja .views-label-field-kurssin-vetaja,
#page .view-taxonomy-term .views-row .views-field-field-kurssi-loppuu .views-label-field-kurssi-loppuu {
  @include generic-course-meta-info-label;
}

#page .view-taxonomy-term .views-row .views-field-field-kurssin-vetaja .field-content,
#page .view-taxonomy-term .views-row .views-field-field-kurssi-loppuu .field-content {
  @include generic-course-meta-info-field;
}

/* GLOBAL PAGER */

.item-list .pager ul {
  margin:10px 0 5px 0;
}

.item-list .pager ul li {
  margin:0 0.25em 0 0.25em;
  display:inline-block;
}

.item-list .pager li a {
  display:inline-block;
  width:20px;
  height:20px;
  padding:5px;
}

.item-list .pager li a:hover {
  background:#88cfff;
  border-radius:15px;
  color:#ffffff;
}

.item-list .pager li.pager-current {
  color:#ffffff;
  font-weight:normal;
  background:#0099ff;
  border-radius:15px;
  display:inline-block;
  width:20px;
  height:20px;
  padding:5px;
}

/* FOOTER */

#page #section-content {
  margin-bottom:10px;
}

#page #section-footer {
  margin-top:10px;
  min-height:200px;
  /* fallback */ 
  background: transparent; 
  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,0.5)), to(rgba(255,255,255,0))); 
  /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(top, rgba(238,238,238,0.5), rgba(255,255,255,0)); 
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(top, rgba(238,238,238,0.5), rgba(255,255,255,0)); 
  /* IE 10 */ 
  background: -ms-linear-gradient(top, rgba(238,238,238,0.5), rgba(255,255,255,0)); 
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(top, rgba(238,238,238,0.5), rgba(255,255,255,0));
  
}
