/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Associated stylesheets as determined by different screen width

0px to 740px wide: global.css
741px to 979px wide: global.css + default.css + narrow.css
980px to 1219px wide: global.css + default.css + narrow.css + normal.css
1220px and wider: global.css + default.css + narrow.css + normal.css + wide.css

 */
 
@import "base";
@import "forms";

/* REMOVE THE PESKY STRICT PHP MESSAGES */

.messages.error {
  display:none;
}

body {
  font-family:$fontFamily;
  color:$fontColor;
  font-size:$fontSize;
  background:url('../gfx/view-port-background.gif') repeat-x left top;
}

a,
a:visited {
  color:$linkColor;
}

a:hover {
  color:$linkHoverColor;
}

a:focus {
  color:$linkFocusColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family:$fontFamily;
  text-transform:uppercase;
  letter-spacing:0;
}

#page h1,
#page h2 {
  font-size:1.2em;
  @include h1h2-defaults;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 0 0;
}

#page-container {
  /* max-width:960px; */
  width:960px;
}

#page .node-page {
  margin:20px 14px 10px 14px;
}

#page h3 {
  font-size:1.1em;
}

#page .container-16 .grid-16 { /* NOT PREFERED WAY TO DO THIS! REMOVE IF EVEN SLIGHTLY POSSIBLE */
  width:100%;
  margin:0;
}

#page-container {
  padding:0 10px 10px 10px;
}

.header-black-spacer {
  height:5px;
  background:#000000;
  margin:0 0 10px 0;
}

#zone-header {
  margin:0 0 5px 0;
  background:#ffffff;
}

.region-header-second-inner {
  text-align:right;
}

/* GENERIC STUFF */

.generic-empty-text-wrapper {
  text-align:center;
  font-style:italic;
  color:$altFontColor;
}

/* BACKGROUNDS */

#zone-branding-wrapper {
  height:231px;
  background:url('../gfx/header-background.jpg') no-repeat;
}

#zone-menu-wrapper {
  padding:8px 0 28px 0;
  background:url('../gfx/navigation-background.jpg') no-repeat;
  height:29px;
}

#zone-content-wrapper {
  background:url('../gfx/content-background.jpg') no-repeat;
}

/* NAVIGATION */

#zone-menu {
  padding:0;
  position:relative;
}

#region-menu .navigation {
  padding:2px 4px;
  background:#000000;
  position:relative;
}

#region-menu .navigation.fixedPosition {
  position:fixed;
  z-index:9999;
  display:block;
  width:1192px;
  @include box-shadow($shadow: 0px 2px 4px rgba(0,0,0,0.5));
  border-bottom:1px solid #333333;
}

#region-menu .navigation ul {
  margin:0;
}

#region-menu .navigation ul li {
  padding:0 5px;
}

#region-menu .navigation ul a {
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:bold;
  padding:2px 6px;
  display:inline-block;
}

#region-menu .navigation ul a:hover, 
#region-menu .navigation.fixedPosition ul a:hover {
  transition-property:background;
  transition-duration:0.75s;
  background:#7c7b7a;
  @include rounded-borders;
  @include text-shadow;
}

/* HEADER LINKS */

.header-links {
  display:inline-block;
  padding:6px 10px 6px 0;
}

.header-links a {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
  text-transform:uppercase;
}

.header-links a:hover {
  color:$linkHoverColorHeader;
}

.header-links a:focus {
  color:$linkFocusColorHeader;
}

/* SEARCH */

div#block-search-form {
  display:inline-block;
  margin:0 0 0 20px
}

form#search-block-form .form-actions input {
  margin-right:0;
}

form#search-block-form input.form-text {
  width:220px;
  background:url('../gfx/search_icon.gif') no-repeat 5px center;
  padding-left:30px;
}

/* CONTENT EDITING TABS */

ul.tabs.primary,
ul.tabs.primary li {
  margin:0;
  border:0;
}

ul.tabs.primary li a {
  display:inline-block;
  padding:6px 20px;
  background:#ffffff;
  text-transform:uppercase;
  color:$linkColor;
  border:0;
  @include box-shadow;
}

ul.tabs.primary li a:hover {
  color:$linkHoverColor;
  background:#ffffff;
}

ul.tabs.primary li.active a {
  color:#ffffff;
  background:#000000;
}

/* LOGIN, SIGNUP, USERINFO AND LOGOUT */

#login-register .panel-panel h2 {
  background:url('../gfx/title-background.jpg');
  padding:5px 5px 5px 20px;
  border:2px solid #000;
}

#user-login input.form-text,
#user-register-form input.form-text {
  max-width:100%;
  min-width:95%;
}

#login-register .panel-panel {
  max-width:340px;
  min-width:340px;
  margin:0 5px;
}

#login-register .panel-panel .inside {
  margin:0;
}

#block-block-1,
#block-block-2 {
  display:inline-block;
  margin:0;
  padding:0 4px;
}

#block-login-signup ,
#block-userinfo-logout {
  padding:4px 0;
  white-space:nowrap;
}

#block-login-signup a,
#block-userinfo-logout a  {
  color:$linkColorHeader;
  @include header-link-defaults;
  display:inline-block;
}

#block-login-signup a:hover,
#block-userinfo-logout a:hover {
  color:$linkHoverColorHeader;
}

#block-login-signup a:focus,
#block-userinfo-logout a:focus {
  color:$linkFocusColorHeader;
}

#block-userinfo-logout span,
#block-login-signup span {
  display:inline-block;
}

/* FRONTPAGE CAROUSEL / NOT STARTED COURSES LISTING / STARTED COURSES LISTING  */

#views_slideshow_cycle_main_courses_not_started-block_slider,
#views_slideshow_cycle_main_courses_started-block_slider {
  padding:0 5px 10px 7px;
}

.views-slideshow-cycle-main-frame-row {
  padding:0 0 5px 0;
}

.view-courses-not-started.view-display-id-block_slider,
.view-courses-started.view-display-id-block_slider {
  margin:6px 0 0 0;
}

.view-courses-not-started.view-display-id-page_list_all,
.view-courses-started.view-display-id-page_list_all {
  margin:6px 0 0 0;
  display:table;
  padding:0 5px 10px 7px;
}

.view-courses-not-started .views-row,
.view-courses-started .views-row  {
  float:left;
  max-width:205px;
  padding:8px;
  margin:0 7px 0 7px;
  @include box-shadow;
  background:#ffffff;
  border:1px solid #ffffff;
}

.view-courses-not-started .views-row.courses-not-started-page-row,
.view-courses-started .views-row.courses-started-page-row {
  margin:20px 7px 0 7px;
}

.view-courses-not-started .views-row:hover,
.view-courses-started .views-row:hover {
  border:1px solid #dddddd;
}

.view-courses-not-started .views-row-first,
.view-courses-started .views-row-first {
  margin:0 7px 0 9px;
}

.view-courses-not-started .views-row .views-field-field-kurssin-kuva,
.view-courses-started .views-row .views-field-field-kurssin-kuva {
  width:100%;
  overflow:hidden;
  max-height:137px;
}

.view-courses-not-started .views-row img,
.view-courses-started .views-row img {
  width:100%;
  height:auto;
}

.view-courses-not-started .views-row .views-field-title,
.view-courses-started .views-row .views-field-title {
  margin:10px 0 3px 0;
}

.view-courses-not-started .views-row .views-field-title a,
.view-courses-started .views-row .views-field-title a {
  text-transform:uppercase;
  font-size:1.1em;
  color:$linkColorCourse;
  text-decoration:none;
}

.view-courses-not-started .views-row .views-field-title a:hover,
.view-courses-started .views-row .views-field-title a:hover {
  color:$linkHoverColorCourse;
}

.view-courses-not-started .views-row .views-field-title a:focus,
.view-courses-started .views-row .views-field-title a:focus {
  color:$linkFocusColorCourse;
}

.view-courses-not-started .views-row .views-field-body .field-content,
.view-courses-started .views-row .views-field-body .field-content {
  margin:0;
  padding:0 0 10px 0;
  min-height:190px;
  max-height:190px;
}

.view-courses-not-started .views-row .views-field-field-arvio .field-content, 
.view-courses-started .views-row .views-field-field-arvio .field-content {
  margin:0 0 5px 0;
  padding:0 0 10px 0;
  border-bottom:1px solid #f2f2f2;
}

.view-courses-not-started .views-row .views-field-field-arvio .fivestar-widget-static,
.view-courses-started .views-row .views-field-field-arvio .fivestar-widget-static {
  display:inline-block;
  float:right;
}

.view-courses-not-started .views-row span.views-label,
 .view-courses-started .views-row span.views-label,
 .view-courses-not-started .views-row .field-content span.views-label {
  text-transform:uppercase;
  margin:5px 0 0 0;
  padding:5px 0 0 0;
  display:block;
  font-size:0.925em;
  color:$fontColor;
}

.view-courses-not-started .views-row .field-content,
.view-courses-started .views-row .field-content {
  font-size:0.925em;
  color:#757575;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator-wrapper {
  width:100%;
  background:#f8f8f8;
  margin:4px 0 0 0;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-indicator {
  text-align:right;
  background:#3bf210;
  @include rounded-borders;
}

.view-courses-not-started .views-row .field-content .attendancies-percent {
  padding:2px 4px 2px 0px;
}

#views_slideshow_controls_text_courses_not_started-block_slider,
#views_slideshow_controls_text_courses_started-block_slider {
  display:block;
  clear:both;
  height:2.5em;
  margin:0 15px 5px 15px;
}

.view-courses-not-started #views_slideshow_controls_text_courses_not_started-block_slider a,
.view-courses-started #views_slideshow_controls_text_courses_started-block_slider a {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_courses_not_started-block_slider a:hover,
#views_slideshow_controls_text_courses_started-block_slider a:hover,
#views_slideshow_controls_text_courses_not_started-block_slider span:hover,
#views_slideshow_controls_text_courses_started-block_slider span:hover {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider,
#views_slideshow_controls_text_previous_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 12px 2px 24px
}

#views_slideshow_controls_text_next_courses_not_started-block_slider,
#views_slideshow_controls_text_next_courses_started-block_slider {
  @include carousel-controls;
  padding:2px 24px 2px 12px;
}

#views_slideshow_controls_text_previous_courses_not_started-block_slider:before,
#views_slideshow_controls_text_previous_courses_started-block_slider:before {
  @include previous-arrow;
}

#views_slideshow_controls_text_next_courses_not_started-block_slider:before,
#views_slideshow_controls_text_next_courses_started-block_slider:before {
  @include next-arrow;
}

#views_slideshow_controls_text_pause_courses_not_started-block_slider,
#views_slideshow_controls_text_pause_courses_started-block_slider {
  display:none;
}

/* COURSE PAGE */

#page #node-course-panel .panel-panel.grid-4 {
  float:right;
}

#page #node-course-panel #mini-panel-kurssi_minipanel .panel-panel.grid-4 {
  float:left;
}

#page #node-course-panel h2 {
  margin:0 0 20px 0;
}

.pane-kurssi-minipanel {
  display:table;
}

#page #node-course-panel .pane-course-members h2 {
  font-size:1.2em;
  @include h1h2-defaults-rtl;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

#page #node-course-panel .pane-course-members .pane-content {
  @include box-padding;
  @include box-shadow;
  background:#fff;
  margin:0 14px 0 0;
}

#page #node-course-panel .pane-node-field-kurssin-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#page #node-course-panel .field-type-fivestar {
  margin:10px 0 5px 0;
}

#mini-panel-kurssi_minipanel ul {
  margin:0 0 14px 14px;
}

#mini-panel-kurssi_minipanel ul li {
  margin:0;
}

#page #node-course-panel .field-label {
  text-transform:uppercase;
  margin:5px 0 0 0;
  padding:5px 0 0 0;
  display:block;
  font-size:0.925em;
}

#page #node-course-panel .pane-node-body {
  height:400px;
  overflow:hidden;
}

#page #node-course-panel .field-name-body {

}

#page #node-course-panel .desc-control-wrapper {
  height:20px;
  padding:5px;
  text-align:right;
  margin-top:5px;
}

#page #node-course-panel .show-more-link,
#page #node-course-panel .show-less-link {
  color:#ffffff;
  display:inline-block;
  padding:2px 12px 2px 6px;
  border-right:8px solid #7c7b7a;
  text-transform:uppercase;
  font-size:0.9em;
  cursor:pointer;
}

#page #node-course-panel .show-less-link {
  background:url('../gfx/show-less-arrow.png') no-repeat center right #7c7b7a;
}

#page #node-course-panel .show-more-link {
  background:url('../gfx/show-more-arrow.png') no-repeat center right #7c7b7a;
}

#page #node-course-panel .hiddenControl {
  display:none;
}

#page #node-course-panel .field-name-body .field-items {
  font-size:1em;
  color:#000000;
}

#page #node-course-panel .field-items {
  font-size:1em;
  color:#757575;
}

#page #node-course-panel .join-course-link {
  margin:10px 0 0 0;
}

#page #node-course-panel .join-course-link a {
  @include buttonized-link;
  @include box-shadow;
  @include rounded-borders;
}

#page #node-course-panel .view-course-members .views-row {
  clear:both;
  height:32px;
  padding:4px;
  display:block;
  cursor:pointer;
}

#page #node-course-panel .view-course-members .views-row:hover .views-field-field-account-sukunimi a {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-kuva {
  float:left;
  height:32px;
  width:32px;
  overflow:hidden;
  margin-right:5px;
  border:1px solid #f2f2f2;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-kuva img {
  height:32px;
  width:32px;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi {
  float:left;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a {
  color:$linkColorUser;
  text-decoration:none;
  padding:6px 3px 14px 3px;
  height:1em;  
  @include text-shadow($shadow: 0 0 2px #ffffff);
  display:inline-block;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a:hover {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-course-panel .view-course-members .views-row .views-field-field-account-sukunimi a:focus {
  color:$linkFocusColorUser;
  text-decoration:none;
}

/* FIVESTAR RATING */

#page form #edit-fivestar-submit {
  display:none;
}

/* STATUSES */

.statuses-chars {
  color:$altFontColor;
  font-size:0.9em;
}

.pane-statuses-statuses {
  margin:20px 0 10px 0; 
}

.statuses-textarea-wrapper {
  border:0;
  box-shadow:none;
  margin:0 0 10px 14px;
  padding:0;
}

#page .statuses-update input.statuses-submit {
  margin-left:auto;
  display:block;
}

.view-statuses-stream-custom,
.view-statuses-conversation-profile  {
  margin:20px 0 0 14px;
}

.view-statuses-stream-custom .views-row,
.view-statuses-conversation-profile .views-row {
  margin:0 0 10px 0;
  border-top:1px solid #f2f2f2;
  padding:10px;
}

.statuses-sender-picture {
  float:left;
  height:48px;
  width:48px;
  padding:0px;
  @include box-shadow;
}

.fbss-comments-comment  .fbss-comments-author-picture {
  float:left;
  width:32px;
  height:32px;
}

.fbss-comments-author-picture img {
  height:32px;
  width:32px;
}

.statuses-item .statuses-participants,
.statuses-item .fbss-comments-author {
  margin:0 0 5px 0;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a,
.view-statuses-conversation-profile .statuses-item .statuses-sender a {
  text-decoration:none;
  font-size:1.3em;
  color:$linkColorUser;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a:hover,
.view-statuses-conversation-profile .statuses-item .statuses-sender a:hover {
  color:$linkHoverColorUser;
}

.view-statuses-stream-custom .statuses-item .statuses-sender a:focus,
.view-statuses-conversation-profile .statuses-item .statuses-sender a:focus {
  color:$linkFocusColorUser;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a {
  text-decoration:none;
  font-size:1.1em;
  color:$linkColorCourse;
  font-style:italic;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a:hover {
  color:$linkHoverColorCourse;
}

.view-statuses-conversation-profile .statuses-item .statuses-recipient a:focus {
  color:$linkFocusColorCourse;
}

.view-statuses-stream-custom .statuses-item .fbss-comments-author a,
.view-statuses-conversation-profile .statuses-item .fbss-comments-author a {
  text-decoration:none;
  font-size:1.1em;
}

.statuses-item .content {
  margin-left:66px;
}

.statuses-comments .content {
  margin-left:48px;
}

.view-statuses-stream-custom .statuses-item .statuses-content,
.view-statuses-conversation-profile .statuses-item .statuses-content {
  font-size:1em;
}

.view-statuses-stream-custom .statuses-item .fbss-comments-text,
.view-statuses-conversation-profile .statuses-item .fbss-comments-text {
  font-size:0.9em;
}

.fbss-comments-text br {
  display:none;
}

.view-statuses-stream-custom .statuses-item .statuses-content p,
.view-statuses-stream-custom .statuses-item .fbss-comments-text p,
.view-statuses-conversation-profile .statuses-item .statuses-content p,
.view-statuses-conversation-profile .statuses-item .fbss-comments-text p {
  margin:0 0 10px 0;
}

.view-statuses-stream-custom .statuses-item .statuses-details,
.view-statuses-stream-custom .statuses-item .fbss-comments-closure,
.view-statuses-conversation-profile .statuses-item .statuses-details,
.view-statuses-conversation-profile .statuses-item .fbss-comments-closure {
  font-size:0.9em;
  font-style:italic;
  color:$altFontColor;
}

 .statuses-details .statuses-links span,
 .fbss-comments-closure .fbss-comments-links li {
  display:inline-block;
  margin:0 4px 0 4px;
}

.view-statuses-stream-custom .statuses-item .statuses-comments,
.view-statuses-conversation-profile .statuses-item .statuses-comments {
  border:0;
}

.statuses-comments .fbss-comments-comment {
  padding:10px;
  @include rounded-borders;
}

.statuses-comments .statuses-subitem {
  background:#f2f2f2;
  margin-top:2px;
  border:0;
}

.statuses-comments .statuses-subitem.form-piece {
  background:#f2f2f2;
  margin:0;
  border:0;
}

.statuses-comments .statuses-textarea-wrapper {
  margin:0 0 10px 0;
}

.statuses-subitem {
  padding:15px;
}

.fbss-comments-form.statuses-subitem {
  padding:0;
}

/* LOGIN and SIGNUP FORM */

#user-login label {
  text-transform:uppercase;
  font-weight:normal;
}

#user-login h3 {
  text-transform:none;
  padding:0;
  margin:0 0 5px 0;
}

#user-login .item-list ul.hybridauth-widget li {
  margin:1px 8px 1px 1px;
}

/* USER PROFILE */

#page #node-user-panel .panel-panel.grid-4 {
  float:right;
}

#page #node-user-panel h2 {
  margin:0 0 20px 0;
}

#page #node-user-panel .pane-user-courses h2 {
  font-size:1.2em;
  @include h1h2-defaults-rtl;
  @include box-shadow($shadow: 6px 6px 0 rgba(124,123,122,1.0));
  margin:0 6px 20px 0;
}

.pane-user-information {
  display:table;
  margin:0 0 20px 0;
}

#page #node-user-panel .view-user-information {
  margin:0 0 14px 14px;
}

#page #node-user-panel .views-field-field-account-kuva {
  margin:0 10px 0 0;
  float:left;
  width:160px;
}

#page #node-user-panel .views-field-field-account-kuva img {
  width:100%;
  height:auto;
  @include box-shadow;
}

#page #node-user-panel .views-field-field-account-sukunimi,
#page #node-user-panel .views-field-field-account-kuvaus {
  margin:0 0 10px 180px;
}

#page #node-user-panel .views-field-field-account-sukunimi {
  font-size:1.4em;
}

#page #node-user-panel .pane-user-courses .pane-content {
  @include box-padding;
  @include box-shadow;
  background:#fff;
  margin:0 14px 0 0;
}

#page #node-user-panel .pane-user-courses .views-row {
  clear:both;
  height:32px;
  padding:4px;
  display:block;
  cursor:pointer;
}

#page #node-user-panel .pane-user-courses .views-field-field-kurssin-kuva {
  width:32px;
  height:32px;
  overflow:hidden;
  float:left;
  margin-right:5px;
  border:1px solid #f2f2f2;
}

#page #node-user-panel .pane-user-courses .views-field-field-kurssin-kuva img {
  width:auto;
  height:32px;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title {
  float:left;
}

#page #node-user-panel .pane-user-courses .views-row:hover .views-field-title a {
  color:$linkHoverColorUser;
  text-decoration:none;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a {
  color:$linkColorCourse;
  text-decoration:none;
  padding:6px 3px 14px 3px;
  height:1em;  
  @include text-shadow($shadow: 0 0 2px #ffffff);
  display:inline-block;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a:hover {
  color:$linkHoverColorCourse;
  text-decoration:none;
}

#page #node-user-panel .pane-user-courses .views-row .views-field-title a:focus {
  color:$linkFocusColorCourse;
  text-decoration:none;
}
