@CHARSET "UTF-8";

#paja-course-wrapper fieldset {
  border:0;
}

#paja-course-wrapper fieldset,
#paja-course-wrapper legend {
  -webkit-margin-collapse: separate !important;
}

#paja-course-wrapper fieldset .fieldset-wrapper {
  padding:0;
  border:0;
}

#paja-course-wrapper fieldset fieldset legend .fieldset-legend {
  background:none;
  padding-left:0;
}

#paja-course-wrapper fieldset fieldset.form-wrapper legend {
  background:#0099ff;
  border-radius:3px;
  padding:1px 8px;
  box-shadow:0 0 8px rgba(0, 0, 0, 0.1);
}

#paja-course-wrapper fieldset fieldset.form-wrapper legend span.summary {
  display:none;
}

#paja-course-wrapper fieldset fieldset.form-wrapper legend a {
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
  font-size:0.9em;
}

#paja-course-wrapper fieldset #paja-course-extra-field-wrapper fieldset.form-wrapper div.fieldset-wrapper {
  padding:10px;
  border-left:4px solid #0099ff;
  margin-top:5px;
  margin-left:1px;
  border-bottom:1px solid #eee;
}

form#kurssi-node-form #edit-field-hintalaskuri #paja-course-wrapper fieldset #paja-course-extra-field-wrapper div.form-item,
form#kurssi-node-form #edit-field-hintalaskuri #paja-course-wrapper fieldset #paja-course-calculon div.form-item {
  margin:0;
}

#paja-course-calculon {
  float:left;
  width:415px;
}

#paja-course-wrapper fieldset #paja-course-calculon fieldset.form-wrapper legend {
  background:none;
  font-weight:bold;
  margin:0 0 20px 0;
  padding:0;
  box-shadow:none;
  -webkit-margin-collapse: separate !important;
}

#paja-course-calculon > fieldset > legend span.fieldset-legend {
  margin:0;
  padding:0;
  background:none;
}

#paja-course-table {
  background:url('images/arrow.png') no-repeat left center;
  margin-left:410px;
  padding-left:70px;
}

table.paja-course-table {

}

table.paja-course-table th {
  padding-bottom:10px;
  font-weight:bold;
}

table.paja-course-table tr {
  border-bottom:1px solid #e5e5e5;
}

table.paja-course-table td {
  padding:15px 0 2px 0;
}

table.paja-course-table tr.budget-total-income,
table.paja-course-table tr.budget-total-costs {
  border-bottom:1px solid #7f7f7f;
}

td.budget-total-income-title {
  font-size:1.4em;
  font-style:italic;
}

td.budget-total-income-value {
  color:#01cd0f;
  font-size:1.4em;
}

td.budget-total-costs-title {
  font-size:1.4em;
  font-style:italic;
}

td.budget-total-costs-value {
  color:#ff0000;
  font-size:1.4em;
}

table.paja-course-table tr.budget-profit,
table.paja-course-table tr:first-child {
  border:0;
}

table.paja-course-table tr td:first-child {
  min-width:250px;
}

table.paja-course-table tr td:last-child {
  text-align:right;
}

td.budget-profit-title {
  text-transform:uppercase;
  font-size:1.4em;
}

td.budget-profit-value {
  text-transform:uppercase;
  font-size:1.4em;
  color:#0099ff;
}

#paja-course-result{
  clear:both;
  margin-top:20px;
  min-height:130px;
}

#paja-course-extra-field-wrapper fieldset.form-wrapper {
  border:0;
  background:transparent;
}

#paja-course-result p.course-ok{
	width: 128px;
	height:128px;
	background: url(images/ok.png);	
	float:left;
}

#paja-course-result p.course-not-ok{
	width: 128px;
	height:128px;
	background: url(images/not_ok.png);	
	float:left;
}

#paja-course-result p.course-result-ok-title,
#paja-course-result p.course-result-not-ok-title,
#paja-course-result p.course-result-desc {
  margin-left:150px;
}

#paja-course-result p.course-result-desc {
  max-width:670px;
}

#paja-course-result p.course-result-ok-title,
#paja-course-result p.course-result-not-ok-title {
  font-size:1.4em;
  font-weight:300;
  color:#01cd0f;
  padding:10px 0 0 0;
  margin-bottom:10px;
}

#paja-course-result p.course-result-not-ok-title {
  color:#ff0000;
}

 .paja-course-price-range-field {
 	float: left;
 	width:320px;
 }
 
.paja-course-price-range-field div.form-item {
  padding:0;
  margin:0;
 }
 
  .paja-course-price-range-field label {
  font-weight:300;
 }
 
 .paja-course-price-range-field input.form-range {
  border:0;
  width:300px;
 } 
 
 .paja-course-price-number-field {
 	height: 38px;
 	margin-left: 320px;
	padding:15px 0 0 0;
 }
 
.paja-course-price-number-field input.form-number {
  padding:0px 5px;
  font-size:1.2em;
  font-weight:300;
  max-width:50px;
  background:#fff;
  border:1px solid #858585;
  text-align:center;
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -o-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  -ms-box-sizing:content-box;
 }
 
#paja-course-price-number input.form-number {
  box-shadow:0 0 8px rgba(0,153,255,0.4);
}


#paja-course-calculon .form-item,
#paja-course-extra-field-wrapper .form-item {
  margin:0;
}
